In [1]:
#
# libraries
#
import pandas as pd

In [ ]:
#
# create a Series
#
income = pd.Series([100, 125, 105, 111, 275, 137, 
                     99, 10, 250, 100, 175, 200],
                   index = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
                            'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                   name = 'income')
income

In [ ]:
income.reset_index(drop = True)

In [ ]:
UK_energy = pd.read_csv('Datasets\\UK_energy.csv', 
                        index_col = None, 
                        usecols = [1], 
                        squeeze = True)
print(type(UK_energy))
print(UK_energy.head())

In [ ]:
#
# each of the following produce the same result
#
print('UK_energy.loc[[2, 4, 6]]\n\n', UK_energy.loc[[2, 4, 6]])

In [ ]:
print('UK_energy[2:7:2]\n\n', UK_energy[2:7:2])

In [ ]:
print('UK_energy[[2, 4, 6]]\n\n', UK_energy[[2, 4, 6]])

In [ ]:
print('UK_energy.iloc[[2, 4, 6]]\n\n', UK_energy.iloc[[2, 4, 6]])

In [ ]:
print('UK_energy.iloc[2:7:2]\n\n', UK_energy.iloc[2:7:2])

In [ ]:
UK_energy.index = ['year_' + str(i) for i in range(1990, 2020)]
UK_energy.index

In [ ]:
UK_energy.year_1997

In [ ]:
UK_energy['year_1997' : 'year_2011']

In [38]:
#
# read the water treatment data
#
water_data = pd.read_csv('Datasets\\water-treatment.csv')
water_data.fillna(-9999, inplace = True)
water_data

,date,input_flow,input_Zinc,input_pH,input_BOD,input_COD,input_SS,input_VSS,input_SED,input_CON,...,output_COND,RD-DBO-P,RD-SS-P,RD-SED-P,RD-DBO-S,RD-DQO-S,RD-DBO-G,RD-DQO-G,RD-SS-G,RD-SED-G
0,1/1/1990,41230.0,0.35,7.6,120.0,344.0,136.0,54.4,4.5,993,...,903.0,-9999.0,62.8,93.3,-9999.0,62.5,86.7,71.8,87.5,99.4
1,1/2/1990,37386.0,1.40,7.9,165.0,470.0,170.0,76.5,4.0,1365,...,1481.0,-9999.0,50.0,94.4,85.9,73.6,86.7,79.4,89.4,100.0
2,1/3/1990,34535.0,1.00,7.8,232.0,518.0,220.0,65.5,5.5,1617,...,1492.0,32.6,62.4,95.0,81.3,59.9,87.5,71.8,85.9,99.8
3,1/4/1990,32527.0,3.00,7.8,187.0,460.0,180.0,67.8,5.2,1832,...,1590.0,13.2,57.6,95.5,85.3,70.4,85.0,77.2,83.3,100.0
4,1/7/1990,27760.0,1.20,7.6,199.0,466.0,186.0,74.2,4.5,1220,...,1411.0,38.2,46.6,95.0,84.9,61.1,89.4,73.8,86.6,99.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522,10/25/1991,35400.0,0.70,7.6,156.0,364.0,194.0,63.9,5.5,1680,...,1840.0,47.3,61.3,94.0,76.4,-9999.0,86.5,82.4,90.7,99.8
523,10/26/1991,30964.0,3.30,7.7,220.0,540.0,184.0,62.0,3.5,1445,...,1337.0,-9999.0,38.6,93.3,-9999.0,87.0,92.7,95.0,91.8,95.7
524,10/27/1991,35573.0,7.30,7.6,176.0,333.0,178.0,64.0,3.5,1627,...,1799.0,-9999.0,40.4,95.0,-9999.0,72.9,90.9,79.9,-9999.0,98.6
525,10/29/1991,29801.0,1.60,7.7,172.0,400.0,136.0,70.1,1.5,1402,...,1468.0,32.4,40.4,88.0,87.8,77.6,91.3,85.3,83.8,96.7
526,10/30/1991,31524.0,1.60,7.9,-9999.0,478.0,204.0,64.7,6.0,1798,...,1568.0,-9999.0,43.9,65.3,-9999.0,75.3,-9999.0,81.2,89.7,99.2

In [39]:
water_data.set_index('date', drop = True, inplace = True)

In [40]:
#
# check the type when a single column is selected
#
type(water_data['input_flow'])

pandas.core.series.Series

In [36]:
#
# create a DataFrame for pH < 7.5
# extract date as date
# extract input_pH as pH
#
acidity = water_data.loc[water_data['input_pH'] < 7.5, :]
pH = acidity['input_pH']
#

In [41]:
#
# create a pH DataFrame
#
pH_data = pd.DataFrame({'pH' : pH})
pH_data.head()

            pH
date
3/20/1990  7.4
4/13/1990  7.2
6/4/1990   7.3
6/8/1990   7.4
7/1/1990   7.3

In [42]:
#
# reset the index of the pH DataFrame
#
pH_data.reset_index(inplace = True)

In [43]:
#
# construct a DataFrame for the pH vs. flow hypothesis
#
flow_hypothesis = pd.DataFrame({'pH' : pH_data['pH'],
                                'flow' : acidity['input_flow']})
print(flow_hypothesis.head())
print(flow_hypothesis.tail())

    pH  flow
0  7.4   NaN
1  7.2   NaN
2  7.3   NaN
3  7.4   NaN
4  7.3   NaN
           pH     flow
8/21/1990 NaN  34352.0
8/24/1990 NaN  32802.0
8/28/1991 NaN  32922.0
8/29/1991 NaN  32190.0
8/4/1991  NaN  24978.0

In [48]:
#
# print out both indexes to see where the problem is
#
print('pH index: ', list(pH_data.index))
print('acidity index: ', list(acidity.index))

pH index:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]
acidity index:  ['3/20/1990', '4/13/1990', '6/4/1990', '6/8/1990', '7/1/1990', '7/23/1990', '7/29/1990', '8/21/1990', '8/24/1990', '10/7/1990', '3/26/1991', '4/12/1991', '5/9/1991', '5/23/1991', '6/14/1991', '6/24/1991', '7/1/1991', '7/5/1991', '7/19/1991', '7/21/1991', '7/30/1991', '8/1/1991', '8/4/1991', '8/18/1991', '8/28/1991', '8/29/1991', '10/5/1991']

In [45]:
acidity.set_index(pH_data.index, drop = True, inplace = True)
flow_hypothesis = \
    pd.DataFrame({'pH' : pH_data['pH'],
                  'flow' : acidity['input_flow']})
print(flow_hypothesis.head())
print(flow_hypothesis.tail())

    pH     flow
0  7.4  39165.0
1  7.2  34667.0
2  7.3  51520.0
3  7.4  35789.0
4  7.3  30201.0
     pH     flow
22  7.3  24978.0
23  7.3  27527.0
24  7.4  32922.0
25  7.3  32190.0
26  7.3  33695.0

In [46]:
acidity = \
    water_data.loc[water_data['input_pH'] < 7.5, :]
pH = acidity['input_pH']
flow = acidity['input_flow']
flow_hypothesis = pd.DataFrame({'pH' : pH,
                                'flow' : flow})
print(flow_hypothesis.head())
print(flow_hypothesis.tail())

            pH     flow
date
3/20/1990  7.4  39165.0
4/13/1990  7.2  34667.0
6/4/1990   7.3  51520.0
6/8/1990   7.4  35789.0
7/1/1990   7.3  30201.0
            pH     flow
date
8/4/1991   7.3  24978.0
8/18/1991  7.3  27527.0
8/28/1991  7.4  32922.0
8/29/1991  7.3  32190.0
10/5/1991  7.3  33695.0

In [ ]:
#
# create a list with values 0 to 99
#
my_list = list(range(100))
#
# print items 12 to 32 from the list
#
print(my_list[12:23])

In [ ]:
#
# try to print using .iloc
#
print(my_list.iloc[12:23])

In [ ]:
#
# read the GDP by industry data in again
# and extract the first 5 items of 2015_Q1 data
#
GDP_data = pd.read_csv('Datasets\\US_GDP_Industry.csv')
GDP_2015_Q1_rows = [i for i in GDP_data.index
                     if GDP_data.loc[i, 'period'] == '2015_Q1'][:5]
GDP_2015_Q1_1st_5 = GDP_data.copy()
GDP_2015_Q1_1st_5 = GDP_2015_Q1_1st_5.iloc[GDP_2015_Q1_rows, :]
GDP_2015_Q1_1st_5

In [ ]:
#
# convert the data to a dictionary
#
GDP_dict = GDP_2015_Q1_1st_5.to_dict()
GDP_dict

In [ ]:
#
# print the periods out from the Dictionary
#
print(GDP_dict['period'])

In [ ]:
#
# print the periods from the DataFrame
#
print(GDP_2015_Q1_1st_5['period'])

In [ ]:
#
# compare the types of the results
#
print(type(GDP_dict['period']))

In [ ]:
print(type(GDP_2015_Q1_1st_5['period']))