In [1]:
#2 Import the pandas package:
import pandas as pd

In [2]:
#3 Load the CSV file as a DataFrame:
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter04/Data/car.csv'
data_frame = pd.read_csv(file_url)

In [3]:
#4 Display the first 10 rows of the DataFrame:
data_frame.head(10)

  buying  maint  doors  persons lug_boot safety  class
0  vhigh  vhigh      2      2.0    small    low  unacc
1  vhigh  vhigh      2      2.0    small    med  unacc
2  vhigh  vhigh      2      NaN    small   high  unacc
3  vhigh  vhigh      2      2.0      med    low  unacc
4  vhigh  vhigh      2      2.0      med    med  unacc
5    NaN  vhigh      2      2.0      med   high    NaN
6  vhigh  vhigh      2      2.0      big    low  unacc
7  vhigh  vhigh      2      2.0      big    NaN  unacc
8  vhigh  vhigh      2      2.0      big   high  unacc
9  vhigh    NaN      2      4.0    small    low  unacc

In [4]:
#5 Display the data types of each column in the DataFrame:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1728 non-null   int64
 3   persons   1151 non-null   float64
 4   lug_boot  1728 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 94.6+ KB

In [5]:
#6 Handle missing values by replacing them and display the top 10 rows of the DataFrame:
data_frame.fillna(value={
    'buying': 'Unknown',
    'maint': 'Unknown',
    'doors': round(data_frame.doors.mean()),
    'persons': round(data_frame.persons.mean()),
    'lug_boot': 'Unknown',
    'safety': 'Unknown',
    'class': 'Unknown'
}, inplace=True)

data_frame.head(10)

    buying    maint  doors  persons lug_boot   safety    class
0    vhigh    vhigh      2      2.0    small      low    unacc
1    vhigh    vhigh      2      2.0    small      med    unacc
2    vhigh    vhigh      2      3.0    small     high    unacc
3    vhigh    vhigh      2      2.0      med      low    unacc
4    vhigh    vhigh      2      2.0      med      med    unacc
5  Unknown    vhigh      2      2.0      med     high  Unknown
6    vhigh    vhigh      2      2.0      big      low    unacc
7    vhigh    vhigh      2      2.0      big  Unknown    unacc
8    vhigh    vhigh      2      2.0      big     high    unacc
9    vhigh  Unknown      2      4.0    small      low    unacc

In [6]:
#7A Count the number of distinct unique values for “buying”
data_frame['buying'].nunique()

5

In [7]:
#7B Count the number of distinct unique values for “maint”
data_frame['maint'].nunique()

5

In [8]:
#7C Count the number of distinct unique values for “doors”
data_frame['doors'].nunique()

4

In [9]:
#7D Count the number of distinct unique values for “persons”
data_frame['persons'].nunique()

3

In [10]:
#7E Count the number of distinct unique values for “lug_boot”
data_frame['lug_boot'].nunique()

3

In [11]:
#7F Count the number of distinct unique values for “safety”
data_frame['safety'].nunique()

4

In [12]:
#7G Count the number of distinct unique values for “class”
data_frame['class'].nunique()

5

In [13]:
#8 Convert the object columns into category columns and float64 columns into int64 columns
data_frame = data_frame.astype({
    'buying': 'category',
    'maint': 'category',
    'persons': 'int',
    'lug_boot': 'category',
    'safety': 'category',
    'class': 'category'
})

In [14]:
#9 Display the data types of each column in the DataFrame:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   category
 1   maint     1728 non-null   category
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int64
 4   lug_boot  1728 non-null   category
 5   safety    1728 non-null   category
 6   class     1728 non-null   category
dtypes: category(5), int64(2)
memory usage: 36.4 KB